{% extends 'base.html' %}
{% block content %}>
<div class="container"></div>
<h1> pagina para filtrar por alcance</h1>

<h1> </h1>
{% for noticia in todas %}

{% if noticia.alcance.alcance == ntipos.alcance %}


<div class="card">
  <div class="card-header">
    <strong>alcance: </strong>{{noticia.alcance}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{noticia.titulo}}</h5>
    <p class="card-text"><strong>Resumen</strong>: {{noticia.resumen|slice:':250'}}.....</p>
    <a href="http://127.0.0.1:8000/articulo/{{noticia.id}}" class="btn btn-primary">ir al articulo</a>
  </div>
</div>
<h1> </h1>


{% endif %}


{% endfor%}

{% endblock %}